absl-py==0.11.0
astunparse==1.6.3
beautifulsoup4==4.6.0
blis==0.4.1
boto==2.49.0
boto3==1.14.58
botocore==1.17.58
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
deep-translator==1.4.2
docutils==0.15.2
fasttext==0.9.2
filelock==3.0.12
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googletrans==3.0.0
grpcio==1.34.0
gudhi==3.4.1.post1
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==1.7.0
jmespath==0.10.0
joblib==0.16.0
JPype1==1.2.0
jsonlines==1.2.0
kaleido==0.2.1
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
konlpy==0.5.2
lxml==4.6.2
Markdown==3.3.3
matplotlib==3.3.3
more-itertools==8.7.0
mpmath==1.2.1
murmurhash==1.0.2
networkx==2.5
nltk==3.5
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
Pillow==8.1.0
pkg-resources==0.0.0
plac==1.1.3
plotly==4.14.3
portalocker==2.0.0
preshed==3.0.2
protobuf==3.14.0
py-translate==1.0.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytorch-pretrained-bert==0.6.2
pytz==2020.1
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rsa==4.6
s3transfer==0.3.3
sacrebleu==1.5.1
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
smart-open==2.1.1
sniffio==1.2.0
soylemma==0.2.0
spacy==2.3.2
srsly==1.0.2
stanza==1.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
torch==1.6.0
torch-nightly==1.2.0.dev20190722
tqdm==4.48.2
transformers==3.3.1
tweepy==3.9.0
typing-extensions==3.7.4.3
urllib3==1.25.10
wasabi==0.8.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
